body {
    text-align: center;
}
.card__face {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    margin: 10px;
    text-align: center;
}

img {
    width: 200px;
}