html,body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
  .banner {
    width: 100%;
  }

  #navbar {
    position: fixed;
  }

  nav ul {
    text-align: center;
    width: 100%;
  }

  nav ul li {
    display: inline-block;
    margin: 1.5rem;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

  nav ul li a:hover {
    color: #F2785C;
}

  .profile-pic {
    width: 400px;
    border-radius: 50%;
    margin-top: -200px;
  }

  .name {
    color: #04BFBF;
    font-size: 3em;
  }

  .title {
    color: #04BFBF;
    font-size: 2em;
  }


.work-header {
  margin-top: 100px;
  color: #04BFBF;
  font-size: 2.5em;
}

.my-work {
  color: #04BFBF;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .project {
    width: 1000px;
    margin-top: 2rem;
} 

  .project-pic {
    width: 100%;
    border: solid 1px gray;
} 

  .project-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

.project a {
  text-decoration: none;
}

.header {
  padding: 100px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #04BFBF;
  color: black;
  text-decoration: none;
}

.contact-details:hover {
  background: #04BFBF;
  color: black;
  opacity: .6;
}

.header {
  color: #04BFBF;
  padding: 160px 0 110px;
}

  /* @media only screen and (max-width: 500px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  } */


  footer {
    padding: 20px;
    line-height: 40px;
    color: black;
  }

  @media only screen and (max-width: 1100px) {
    .profile-pic {
      width: 300px;
      margin-top: -150px;
    }
  }