//Overall styling for the HEADER of the document.
header {
    padding: 1rem $largeGutter;
}

//Overall styling for the NAVIGATION of the document.
nav {
    ul {
        margin-left: $largeGutter;
    }

    ul li {
        width: auto;
    }

    ul li a {
        padding: .5rem 1rem;
    }
}
//Overall styling for the MAIN of the document.


//Overall styling for the FOOTER of the document.
footer {
    .footer {
        display: flex;
        justify-content: space-around;
    }
}

