//Overall styling for the NAVIGATION of the document.
nav {
    position: relative;

    button {
        display: none;
    }

    ul.closed {
        display: block;
    }

    ul {
        margin-left: $gutter;
        }

    ul li {
       float: left;
    }


    ul li a {
        border: none;
        padding: .5rem 1rem;
    }

    ul li a:hover {
            color: white;
            background-color: $primaryColor;
        }

    
}

//Overall styling for the MAIN of the document.


