$primaryColor: #2C3892;
$secondaryColor: #36AB9C;
$fontColor: black;

$menuColor: #3871C1;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
$largeGutter: 5%;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;