//Overall styling for the BODY of the document.
div#wrapper {
    max-width: 80rem;
    margin: auto;
}

//Overall styling for the NAVIGATION of the document.
nav {
    ul {
        margin-left: $gutter;
    }

    ul li {
        width: auto;
    }

    ul li a {
        padding: .5rem 1rem;
    }
}
//Overall styling for the MAIN of the document.

main {
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    div.lead {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
    }

    div.secondTop {
        grid-row: 1;
        grid-column: 3 / span 2;
    }

    div.secondBottom {
        grid-row: 2;
        grid-column: 3 / span 2;
    }
}

footer {
    .footer {
        display: flex;
        justify-content: space-around;
    }
}

