// //Overall styling for the HEADER of the document.
.banner {
    background-color: red;
}
header {
    height: 15rem;
    background-image: url("../images/trees-large-03.jpg");
    background-repeat: no-repeat;
    max-width: 69rem;
    margin: auto;
}

//Overall styling for the NAVIGATION of the document.
nav {
    ul {
        max-width: 69rem;
        margin: auto;
        padding-left: $gutter/2;
    }
}

//Overall styling for the MAIN of the document.
main {
    max-width: 69rem;
    margin: auto;

    div.blog article {
        float:left;
        width: 33.33%-$gutterdbl;
    }

    div.blog article:nth-child(2n+1) {
        clear:none;
    }

    div.blog article:nth-child(3n+1) {
        clear:left;
    }

}