//Overall styling for the HEADER of the document.
header {
    height: 15rem;
    background-image: url("../images/trees-medium-01.jpg");
    background-repeat: no-repeat;
}

//Overall styling for the NAVIGATION of the document.
nav {
    ul {
       max-width: 69rem;
       margin: auto;
    }

    ul li {
        width: auto;
    }
   
       ul li a {
           padding: .5rem 1rem .5rem 1rem;
       }
   }

//Overall styling for the MAIN of the document.
main {
    figure.photo {
        width: 50%-$gutterdbl;
        margin: .5rem $gutter;
        float: left;
    }

    div.blog article {
        float: left;
        width: 50%-$gutterdbl;
    }

    div.blog article:nth-child(2n+1) {
        clear:left;
    }
}