html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Overall styling for the BODY of the document.
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;

    
    // figure.banner {
    //     width: 100%;
    // }

    // figure.banner img {
    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    //     width: 100%;
    // }

    // figure.banner img:hover {
    //     opacity: .8;
    // }
}

//Overall styling for the HEADER of the document.
header {
    padding: 0rem 1rem 0rem 1rem;
    height: 10rem;
    // margin-top: -4.5rem;
    // position: absolute;
    background-image: url("../images/tress-small-02.jpg");
    background-repeat: no-repeat;
}

header:hover {
    opacity: .8;
}

.title {
    margin-top: -4.5rem;
    padding-left: $gutter;
}

div h1, h2 {
    color: $fontColor;
    max-width: 60rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: $normalWeight;  
}
h2 {
    font-size: 2rem;
    font-weight: $normalWeight;
}

//Overall styling for the NAVIGATION of the document.
    nav {
        background-color: $secondaryColor;
        border-bottom: 1px solid rgba(0,0,0,0.3);

        ul li {
            float: left;
            width: 25%;
        }

        ul li:last-child {
            border-right: none;
        }

        ul li a {
            display: block;
            text-align: center;
            font-weight: $boldWeight;
            padding: .5rem 0;
            color: $blockColor;
            text-decoration: none;
            transition: background 0.75s ease, color  0.75s ease;
        }

        ul li.active a {
            background-color: darken($secondaryColor, 10%);
        }

        ul li a:hover {
            color: $secondaryColor;
            background-color: $primaryColor;
        }
    }

//Overall styling for the MAIN of the document.
main {
    padding-bottom: 50px;
    
    h1 {
        font-size: 2.5rem;
        margin: 1rem 0 0 $gutter;
        color: $secondaryColor;
    }

    h2 {
        font-size: 2rem;
        margin: 1rem 0 .5rem $gutter;
        color: $blockColor;
        // color: lighten( $fontColor, 40% );
    }

    div.blog article {
        margin: .5rem $gutter;
        width: 100%-$gutterdbl;
    }

    h3 {
        font-size: 1.5rem;
        color: $blockColor;
        margin: 1rem 0rem 1rem 0rem;
        // color: lighten( $blockColor, 30% );
    }

    p {
        line-height: 130%;
        color: $blockColor;
    }
}

//Overall styling for the FOOTER of the document.
footer {
    width: 100%;
    background-color: $secondaryColor;

    p {
        text-align: center;
        color: $blockColor;
        padding: .75rem;
        font-size: .9rem;
    }
}

//Clearfix: Force an Element not ot collapse.
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 