html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//Overall styling for the BODY of the document.
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}

.title {
    // position: absolute;
    // top: 8rem;
    // padding-left: $gutter;
    max-width: 69rem;
    margin: auto;
    padding-left: $gutter/2;
    margin-top: -4.5rem;
    color: white;

    
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }

}


//Overall styling for the HEADER of the document.
header {
    height: 14rem;
    background-image: url("../images/trees-small.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: $normalWeight;
    background-size: cover;
    background-position: center;
    margin: auto;

}

//Overall styling for the NAVIGATION of the document.
    nav {
        background-color: $secondaryColor;

        ul {
            display: flex;
        }

        ul li {
            width: 25%;
        }

        ul li a {
            display: block;
            text-align: center;
            font-weight: $boldWeight;
            padding: .5rem 0;
            color: $blockColor;
            text-decoration: none;
            transition: background 0.75s ease, color  0.75s ease;
        }

        ul li.active a {
            background-color: darken($secondaryColor, 10%);
        }

        ul li a:hover {
            color: $blockColor;
            background-color: $primaryColor;
        }
    }

//Overall styling for the MAIN of the document.
main {
    padding-bottom: 4rem;

    h2 {
        font-size: 2rem;
        margin: 1rem 0 .5rem $gutter;
        color: $blockColor;
    }

    div.blog article {
        margin: .5rem $gutter;
    }

    h3 {
        font-size: 1.5rem;
        color: $blockColor;
        margin: 1rem 0rem 1rem 0rem;
    }

    p {
        line-height: 130%;
        color: $blockColor;
    }

    .bear {
        display: flex;
        flex-direction: column;

        img {
            width: 8rem;
            position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
        }

        /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:-200px; top:0px;}
    100% {left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {left:-200px; top:0px;}
    50%  {left:25px; top:0px;}
    100% { left:0px; top:0px;}
  }
    }

}

//Overall styling for the FOOTER of the document.
footer {
    width: 100%;
    background-color: $secondaryColor;

    p {
        text-align: center;
        color: $blockColor;
        padding: .75rem;
        font-size: .9rem;
    }
}

//Clearfix: Force an Element not ot collapse.
.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 