$primaryColor: green;
$secondaryColor: darkseagreen;
$fontColor: antiquewhite;
$blockColor: black;


$gutter: 2%;
$gutterdbl: (2 * $gutter);

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;