$primaryColor: #EFF2E2;
$secondaryColor: darkseagreen;
$fontColor: #EFF2E2;
$blockColor: black;


$gutter: 2%;
$gutterdbl: (2 * $gutter);

$defaultFont: 'Lato', sans-serif;
$normalWeight: 700;
$boldWeight: 700;