html,body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
}

  nav ul {
    text-align: center;
    width: 100%;
  }

  nav ul li {
    display: inline-block;
    margin: 1.5rem;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

  nav ul li a:hover {
    color: #DE7732;
} 

.work-header {
  font-size: 3rem;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CEDFE6;
  width: 10rem;
  height: 10rem;
  margin: 2rem;
}

.project:hover {
  background-color: #DEE2E1;
}

#projects a {
  color: black;
  text-decoration: none;
}

.contact-details {
  display: inline-block;
  margin:  3rem;
  list-style-type: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #CEDFE6;
  color: black;
  text-decoration: none;
}

.contact-details:hover {
  background: #DEE2E1;
}

  /* @media only screen and (max-width: 500px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  } */


  footer {
    /* padding: 20px; */
    line-height: 40px;
    color: black;
  }

  @media only screen and (max-width: 800px) {
    #welcome-section {
      display: flex;
      /* align-items: center; */
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 5rem;
      width: 75%;

    }

    #welcome-section div {
      padding-top: 3rem;
      padding-left: 0rem;
      text-align: center;
    }
  }

  @media only screen and (max-width: 580px) {
    nav ul li a {
      font-size: .9rem;
  }

  nav {
    top: -1rem;
  }

  #hero-header div {
    margin-top: 6rem;
  }

  .name {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  }

  @media only screen and (max-width: 400px) {
    .profile-pic {
      width: 15rem;
    }

    #hero-header div {
      margin-top: 4rem;
    }
  }
