html,body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
#hero-header {
  position: relative;
}
  .banner {
    width: 100%;
  }

  #hero-header div {
    width: 100%;
    position: absolute;
    top: 10rem;
  }

  nav {
    position: absolute;
    top: .5rem;
  }

  #navbar {
    position: fixed;
    /* background-color: white; */
  }

  nav ul {
    text-align: center;
    width: 100%;
  }

  nav ul li {
    display: inline-block;
    margin: 1.5rem;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 3px;
}

  nav ul li a:hover {
    color: #DE7732;
}

.name {
  color: black;
  font-size: 3.5rem;
}

.title {
  color: black;
  font-size: 2.3rem;
  padding-top: .5rem;
}

  .profile-pic {
    width: 25rem;
    border-radius: 50%;
  }

  #welcome-section {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 5rem;
    width: 75%;
    margin: 0 auto;
    padding-top: 5rem;
  }

  #welcome-section div {
    padding-left: 5rem;
    text-align: left;
  }

  .para-one {
    font-size: 1.5rem;
  }

  .para-two {
    padding-top: 2rem;
    font-size: 1.5rem;
  }

.my-work {
  color: black;
  font-size: 2.5em;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  margin-top: 7rem;

}

.contact-details {
  display: inline-block;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #CEDFE6;
  color: black;
  text-decoration: none;
}

.contact-details:hover {
  background: #DEE2E1;
}

.header {
  color: black;
  margin: 4rem;
  letter-spacing: 3px;
  font-size: 2.5rem;
}

  /* @media only screen and (max-width: 500px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin: 20px;
    }
    .project {
      margin: 40px 0;
    }
  } */


  footer {
    padding: 20px;
    line-height: 40px;
    color: black;
  }

  /* @media only screen and (max-width: 1100px) {
    .profile-pic {
      width: 300px;
      margin-top: -150px;
    }
  } */