html,body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  .checkbox {
    display: none;
  }
  
    nav ul {
      text-align: center;
      width: 100%;
    }
  
    nav ul li {
      display: inline-block;
      margin: 1.5rem;
    }
  
    nav ul li a {
      color: black;
      text-decoration: none;
      font-size: 1.3rem;
      letter-spacing: 3px;
  }
  
    nav ul li a:hover {
      color: #DE7732;
  } 
  
  .name {
    color: black;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
  
  .title {
    color: black;
    font-size: 2.1rem;
    padding-top: .5rem;
    letter-spacing: 2px;
  }
  
  .my-work {
    color: black;
    font-size: 2.5em;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    margin-top: 7rem;
  }
  
  #projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border: 1px grey solid;
    margin: 4rem;
  }

  .project div img:hover {
    opacity: 1;
  }

  
  .project div img {
    width: 100%;
    opacity: .7;

  }

  .project div p {
    padding: 1rem;
  }
  
  #projects a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .contact-details {
    display: inline-block;
    margin: 0 35px 45px 35px;
    list-style-type: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #CEDFE6;
    color: black;
    text-decoration: none;
  }
  
  .contact-details:hover {
    background: #DEE2E1;
  }
  
  .header {
    color: black;
    margin: 4rem;
    letter-spacing: 3px;
    font-size: 2.5rem;
  }
  
    footer {
      padding: 20px;
      line-height: 40px;
      color: black;
    }
  
    @media only screen and (max-width: 580px) {
        #hero-intro {
            margin-top: 7rem;
        }
      /* hamburger */
      .checkbox {
        display: none;
      }
      
      .button {
        position: relative;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 2vh; 
        right: 2vw; 
        z-index: 2000;
        text-align: center; 
        cursor: pointer;
      }
      
      .background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5vh; 
        right: 5.5vw; 
        background-color: white;
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }
      
      .nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -60vw;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s;
        background-color: white;
      }
      
      .list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
  
      }
      
      .item {
        margin: 1rem;
        font-size: 36px;
      }
      
      .link:link,
      .link:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          white 50%
        );
        background-size: 220%;
        transition: all 0.4s;
      }
      
      .link:hover,
      .link:active {
        color: #DE7732;
      /*   cursor: pointer; */
      }
      
      /* functionality */
      .checkbox:checked ~ .background {
        transform: scale(80);
      }
      .checkbox:checked ~ .nav {
        opacity: 1;
        width: 100%;
        right: 0;
      }
      
      /*  */
      /* styling hamb ICON */
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .icon,
      .icon::before,
      .icon::after {
        width: 3rem;
        height: 2px;
        background-color: black;
        display: inline-block;
      }
      
      .icon::before,
      .icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      
      .icon::before {
        top: -0.8rem;
      }
      .icon::after {
        top: 0.8rem;
      }
      
      .button:hover icon:before {
        top: -1rem;
      }
      .button:hover icon::after {
        top: 1rem;
      }
      
      .checkbox:checked + .button .icon {
        background-color: transparent;
      }
      
      .checkbox:checked + .button .icon::before {
        top: 0;
        transform: rotate(135deg);
      }
      .checkbox:checked + .button .icon::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  
    @media only screen and (max-width: 400px) {
      .profile-pic {
        width: 15rem;
      }
    }