/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px; }

.title {
  max-width: 69rem;
  margin: auto;
  padding-left: 1%;
  margin-top: -4.5rem;
  color: white; }
  .title h1 {
    font-size: 2.5rem; }
  .title h2 {
    font-size: 2rem; }

header {
  height: 14rem;
  background-image: url("../images/trees-small.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 700;
  background-size: cover;
  background-position: center;
  margin: auto; }

nav {
  background-color: darkseagreen; }
  nav ul {
    display: flex; }
  nav ul li {
    width: 25%; }
  nav ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    color: black;
    text-decoration: none;
    transition: background 0.75s ease, color  0.75s ease; }
  nav ul li.active a {
    background-color: #6fa96f; }
  nav ul li a:hover {
    color: black;
    background-color: #EFF2E2; }

main {
  padding-bottom: 4rem; }
  main h2 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem 2%;
    color: black; }
  main div.blog article {
    margin: 0.5rem 2%; }
  main h3 {
    font-size: 1.5rem;
    color: black;
    margin: 1rem 0rem 1rem 0rem; }
  main p {
    line-height: 130%;
    color: black; }
  main .bear {
    display: flex;
    flex-direction: column;
    /* Safari 4.0 - 8.0 */
    /* Standard syntax */ }
    main .bear img {
      width: 8rem;
      position: relative;
      -webkit-animation-name: example;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s;
      /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 4s; }
@-webkit-keyframes example {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -200px;
    top: 0px; }
  100% {
    left: 0px;
    top: 0px; } }
@keyframes example {
  0% {
    left: -200px;
    top: 0px; }
  50% {
    left: 25px;
    top: 0px; }
  100% {
    left: 0px;
    top: 0px; } }
footer {
  width: 100%;
  background-color: darkseagreen; }
  footer p {
    text-align: center;
    color: black;
    padding: .75rem;
    font-size: .9rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  header {
    height: 14rem;
    background-image: url("../images/trees-medium.jpg");
    background-repeat: no-repeat; }

  nav ul {
    max-width: 69rem;
    margin: auto; }
  nav ul li {
    width: auto; }
  nav ul li a {
    padding: .5rem 1rem .5rem 1rem; }

  main figure.photo {
    width: 46%;
    margin: 0.5rem 2%;
    float: left; } }
@media only screen and (min-width: 1140px) {
  .banner {
    background-color: red; }

  header {
    height: 14rem;
    background-image: url("../images/trees-large.jpg"), url("../images/color-background.png");
    background-repeat: no-repeat;
    background-size: 69rem 15rem, cover;
    background-position: center;
    max-width: 100%;
    margin: auto; }

  .title {
    max-width: 69rem;
    margin: auto;
    padding-left: 1%;
    margin-top: -4.5rem; }

  nav ul {
    max-width: 69rem;
    margin: auto;
    padding-left: 1%; }

  main {
    max-width: 69rem;
    margin: auto; } }
