//Overall styling for the BODY of the document.

//Overall styling for the NAVIGATION of the document.
nav {
    max-width: 76rem;
    margin: auto;
  
}

.heading {
  max-width: 75rem;
  margin: auto;
}

//Overall styling for the MAIN of the document.
main {
  //Column Layout

@for $i from 1 through 12{
    $w: ($i / 12) * 100%;
    .large-#{$i} {width: $w; float: left;}
}


}