/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

div#wrapper {
  max-width: 64rem;
  margin: 0 auto; }

header {
  display: flex;
  align-items: center;
  background-color: lightblue;
  color: black;
  padding: 1rem 2%; }
  header .logo {
    border-style: solid;
    border-color: transparent transparent lightsteelblue transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: relative;
    margin: 0 0 70px 0; }
  header .logo:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: lightsteelblue transparent transparent transparent;
    border-width: 70px 50px 0 50px; }
  header h1 {
    font-size: 2rem;
    padding-left: .5rem; }

nav {
  background-color: #445ba9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  nav button {
    background-image: url(/DGM2740/unit10/photos/menuIconWhite.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 86%;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 6px 0 6px 2%; }
  nav ul.closed {
    display: none; }
  nav ul li a {
    display: block;
    padding: .7rem 2%;
    color: #fff;
    text-decoration: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    transition: background 0.75s ease, color  0.75s ease; }
  nav ul li ul li {
    display: block;
    padding: .5rem;
    color: #fff;
    text-decoration: none;
    transition: background 0.75s ease, color  0.75s ease; }
  nav ul li ul li a {
    padding-left: 5%; }
  nav ul li ul li a:hover {
    background-color: #354785; }

main h1 {
  font-size: 2rem;
  margin: 1rem 0 0 2%;
  color: #445ba9; }

form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 0.5rem 2%; }

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 .5rem; }

.form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem; }

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 25px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1); }

form label.sbs {
  display: block;
  padding: .75rem;
  color: #555; }

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  border-radius: 1rem;
  color: white;
  padding: .75rem 1.5rem;
  width: 96%;
  margin: 0 0 2rem 2%;
  max-width: 20rem; }

form label.top input:required {
  border-left: red solid 6px; }

form label.top input:required:valid {
  border-left: green solid 6px; }

footer {
  width: 100%;
  background-color: lightblue; }
  footer p {
    text-align: center;
    color: #445ba9;
    padding: .75rem;
    font-size: .9rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=styles.css.map */
