//Overall styling for the BODY of the document.
div#wrapper {
    max-width: 64rem;
    margin: auto;
}

//Overall styling for the NAVIGATION of the document.
nav {
    ul {
        margin-left: $gutter;
    }

    ul li {
        width: auto;
    }

    ul li a {
        padding: .5rem 1rem;
    }

    // ul li.active a {
    //     background-color: darken($secondaryColor, 10%);
    // } 
}

//Overall styling for the MAIN of the document.
main {
    figure.photo {
        width: 25%-$gutterdbl;
        margin: .5rem $gutter;
        float: left;
    }

    div.blog article {
        float:left;
        width: 33.33%-$gutterdbl;
    }

    div.blog article:nth-child(2n+1) {
        clear:none;
    }

    div.blog article:nth-child(3n+1) {
        clear:left;
    }

}