//Overall styling for the BODY of the document.
div#wrapper {
    max-width: 64rem;
    margin: auto;
    // box-shadow: 0 0 10px #000000;
}

//Overall styling for the NAVIGATION of the document.
.nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    ul li {
        width: auto;
    }

    ul li:last-child {
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    ul li a {
        padding: .5rem 1rem;
    }
}

//Overall styling for the MAIN of the document.
main {
    a.coolTrick {
        width: 21%;
    }
}