//Overall styling for the BODY of the document.
div#wrapper {
    max-width: 71.25rem;
    margin: auto;
}

//Overall styling for the MAIN of the document.
main {
    figure.photo {
        width: 25%-$gutterdbl;
        margin: .5rem $gutter;
        float: left;
    }

    div.blog article {
        float:left;
        width: 33.33%-$gutterdbl;
    }

    div.blog article:nth-child(2n+1) {
        clear:none;
    }

    div.blog article:nth-child(3n+1) {
        clear:left;
    }

}