//Overall styling for the BODY of the document.
div#wrapper {
    max-width: 71.25rem;
    margin: auto;
}

//Overall styling for the MAIN of the document.
main {
    figure.photo {
        flex-basis: 200px;
    }

}