body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 75rem;
}

header img {
    width: 100%;
    max-width: 100%;
    display: block;
}

h1 h2 {
    margin-top: -200px;
    position: absolute;
}