body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 75rem;
}

.header {
    position: relative;
}

.top {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 3rem;
    color: white;
}

header img {
    width: 100%;
    max-width: 100%;
    display: block;
}

main {
    margin: 1rem;
}

.content {
    display: flex;
    justify-content: space-around;

}

.add, .remove, .sort, .name {
    display: flex;
    flex-direction: column;
    width: 21rem;
}

button {
    background-color: #788C5A;
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 0rem 0rem 1rem 0rem;
}

button:hover {
    background-color: #022626;
    cursor: pointer;
}

#displayResults {
    font-size: 1.2rem;
}

#error {
    font-size: 1.2rem;
    background-color: yellow;
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: #788C5A;
    color: white;
}

footer p {
    padding: .5rem;
}



